@font-face {
    font-family: Padaloma;
    src: url(Padaloma.ttf);


  }


body{

    background: #847aac;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

.Wiggum{

    width: 98em;
    position: absolute;
    top : -10em;
    left: 0px;
    


}




.haut{
    position: fixed;
    width: 120%;
    height: 40px;
    background: rgb(183, 186, 190);
    z-index: 10;
    
    



}

.titre_site{

    display:inline;
    margin-left: -15%;
    position: relative;
    top : 8px;
    font-size: 25px;
    word-spacing: 10px;
}

::-webkit-scrollbar{

    background-color: rgb(183, 186, 190);
    width: 17px;

    
}

::-webkit-scrollbar-thumb {
    background: rgb(93, 90, 100); 
    
  }

 .barre_gauche{

    background-color: rgb(183, 186, 190);
    width: 17px;
    height: 800px;
    position: fixed;
    top : 0px;
    left : 0px;




 }

 .wig{

    position: absolute;
    top : 80px;
    left: 0px;

    width: 100%;
    height: 800px;
    
    z-index: 5;
    
    
 }

 .wig1{

    position: relative;
    top : 150px;
    left: 200px;
    display: inline-block;
    

    /* background: red; */

   

    
    
    
    
    
    
    
    
 }

 .Wiggum1{

    width: 75em;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;

    
    transform : rotate(360deg);
    animation-name: example;
    animation-duration: 20s ;
    transform-origin: center;
    /* animation-delay: s; */

    visibility: hidden;
    
    animation-iteration-count: infinite;
   
    
    /* position: absolute;
    top : -10em;
    left: 0px; */
    
    
    


    


}


.cam{

    position : fixed;
    top : 350px;
    left : 60%;
    animation-name: cli;
    /* animation-delay: 4s; */
    
    animation-duration: 1s ;

    opacity: 0;

    

    animation-iteration-count: infinite;
    

    
}

#cam1{


    display: none;



}


 #wig1{

    display : none;

 }

 .titre{


    color : #10122E;
    font-weight: bold;
    font-family: Padaloma;
    display: inline-block;
    margin-top: 100px;
    margin-left: 18%;
    z-index: 17;
    font-size: 3em;


 }

 span{

    font-weight: normal;


    
    

    
 }

 .input1{

    display: flex;

    position: absolute;
    top : 700px;
    left : 600px;
    z-index: 7;


 }
 
 label{

    font: 2rem 'Fira Sans', sans-serif;
 }


 @keyframes example {
    from {transform: rotate(360deg);visibility: visible;}
    to {transform: rotate(-360deg);visibility: visible;}
  }

  @keyframes cli {
    0% {opacity: 0;}
    100%{opacity: 100;}
   
  }


  /* @media (max-width: 800px) { 

   .dis{

      display : none;

      
   }












   } */

 